$sm :640px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;

.innerWidth {
  @media (min-width: $xxl) {
    max-width: 1280px;
    margin: auto;
  }

  width: 100%;
}

.paddings {
  @media (min-width: $sm) {
    padding: 4rem;
  }


  @media (min-width: $xl),
  (min-width: $md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}



.xPaddings {
  @media (min-width: $sm) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  padding-left: 1.5rem;
  /* 24px */
  padding-right: 1.5rem;
  /* 24px */
}

.yPaddings {
  @media (min-width: $sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.topPaddings {
  @media (min-width : $sm) {
    padding-top: 4rem;
  }

  @media (min-width: $xl) {
    padding-top: 2rem;
  }

  padding-top: 3rem;
}


.bottomPaddings {
  @media (min-width : $sm) {
    padding-bottom: 4rem;
  }

  @media (min-width: $xl) {
    padding-bottom: 2rem;
  }

  padding-bottom: 3rem;
}


.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-items: flex-end;
}

.primaryText {
  @media (max-width: $sm) {
    font-size: 2.5rem;
  }
  font-size: 3rem;
  font-weight: bold;
}

.secondaryText {
  @media (max-width: $sm) {
    font-size: 1.1rem;
    line-height: 40px;
  }
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: 500
}

.form{
  display: flex;
  width: 30%;
  flex-direction: column;
  background-color: #fff;
    padding: 1rem;
    border-radius: 10px;

    >h1{
      // margin-bottom: 1rem;
      margin: 0.5rem auto ;
    }
  
  >input{
    // width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #333;
  }
  .btn{
    margin-top: 1rem;
    padding: 0.7rem;
    border: none;
    background: #333;
    color: #eee;
    border-radius: 5px;
    cursor: pointer;

  }

}