
  @import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Montserrat&family=Moon+Dance&family=Quicksand:wght@300;500;600;700&family=Tilt+Neon&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Golos Text', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Moon Dance', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Tilt Neon', cursive;
}
